<!doctype html>
<html lang="en">
<head>
    <title>Marine Weather URL Builder</title>
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ferginzey.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chosen.min.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ferginzey.js') }}"></script>

    <!-- ChartJS -->
    <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>

    <script>
        var baseUrl = '{{base_url}}' + '?';
        var updateUrl = function () {
            var url = baseUrl;
            var list = []

            url += 'conditions=' + JSON.stringify($("#conditionsSelect").val());
            url += '&forecasts=' + JSON.stringify($("#forecastsSelect").val());
            url += '&tides=' + JSON.stringify($("#tidesSelect").val());
            $("div.url").html(
                "<a href='" + url + "' target='_blank'>" + url + "</a>"
            );
        }
        $().ready(function () {
            $("#conditionsSelect").chosen(
                {"hide_results_on_select": false, "width": "700px"}
            );
            $("#forecastsSelect").chosen(
                {"hide_results_on_select": false, "width": "700px"}
            );
            $("#tidesSelect").chosen(
                {"hide_results_on_select": false, "width": "700px"}
            );
            $('#conditionsSelect').on('change', function (evt, params) {
                updateUrl();
            });
            $('#forecastsSelect').on('change', function (evt, params) {
                updateUrl();
            });
            $('#tidesSelect').on('change', function (evt, params) {
                updateUrl();
            });
        });
    </script>
</head>
<body>
<div class="ferginzey_title">Marine Weather Page Builder</div>
<hr>
<div>
    <div class="table">
        <div class="row">
            <div class="forecastTitle col-xs-1">URL:</div>
            <div class="url col-xs-11"></div>
        </div>
    </div>
</div>
<hr>
<div class="conditions">
    <div class="forecastTitle" style="padding-top: 10px;">Current Conditions</div>
    <select multiple="multiple" name="conditionsSelect" id="conditionsSelect">
        <optgroup label="Buoys">
            {% for station in station_data.condition_stations.buoy %}
            <option value="{{station}}">{{station}}</option>
            {% endfor %}
        </optgroup>
        <optgroup label="Land">
            {% for station in station_data.condition_stations.land %}
            <option value="{{station}}">{{station}}</option>
            {% endfor %}
        </optgroup>
    </select>
</div>
<div class="forecasts">
    <div class="forecastTitle" style="padding-top: 10px;">Forecast Areas</div>
    <select multiple="multiple" name="forecastsSelect" id="forecastsSelect">
        {% for area in station_data.forecast_areas %}
        <option value="{{area}}">{{area}}</option>
        {% endfor %}
    </select>
</div>
<div class="tides">
    <div class="forecastTitle" style="padding-top: 10px;">Tide Stations</div>
    <select multiple="multiple" name="tidesSelect" id="tidesSelect">
        {% for station in station_data.tide_stations %}
        <option value="{{station}}">{{station}}</option>
        {% endfor %}
    </select>
</div>
<hr>
</body>
</html>